[submodule "hmcts-dev-test-backend"]
	path = hmcts-dev-test-backend
	url = git@github.com:zacharyoxb/hmcts-dev-test-backend.git
[submodule "hmcts-dev-test-frontend"]
	path = hmcts-dev-test-frontend
	url = git@github.com:zacharyoxb/hmcts-dev-test-frontend.git
